In [1]:
## on here we can perform the behavior we imagine using on the user end, to test our work. Environment should be the same.

In [2]:
from pyfit.dev.lab import Lab

wassup
initializing datasets module
initializing visualizations
initializing neural network module
initializing random forest
Semiauto is coming soon
hello world

In [3]:
# STEP 1: set up folder with dataset, initialize lab
path = "/Users/jflyn/Documents/Data/Exp0"

lab = Lab(path)
lab.seed_data('trashy_data', name="breast_cancer", samples=None, difficulty=None)  # Generates and saves data
lab.data_manager.load_active_dataset()  # Loads the dataset just created
lab.show_data_head()  # This will display the head of the active dataset

init data manager
init transformer
init model interface
init comparator
init lab

          0         1  target
0  0.004494  0.320282       1
1  0.506112  0.815276       0
2  0.053935       NaN       0
3  0.619364  0.030697       0
4  0.932021  0.598314       0

In [4]:
lab.perform_eda()

------- CLEANING INFORMATION --------
=====================================

Size of Target data (y): 100
Size of Input data (X): 100 rows, 2 columns

Total Null counts in Target: 0
Total Null counts in Data: 27
Columns with Nulls in Data: ['0', '1']
Indices of Rows with Nulls in Data: [2, 11, 12, 15, 21, 22, 30, 31, 35, 54] (showing first 10 if available)
Total Duplicate rows in Data: 11
Indices of Duplicate Rows in Data: [8, 14, 24, 31, 35, 45, 71, 75, 88, 90] (showing first 10 if available)